<div class="loaderHolder" [class.hidden]="!showLoader" id="loaderHolder">
  <div class="loading"></div>
</div>

<div class="row margin-top-10">
  <div class="col-sm-10">
    Select Employee
    <select [(ngModel)]="empId" (change)="empChanged()">
      <option *ngFor="let emp of employees" value="{{emp.Id}}">
        {{emp.Name}}
      </option>
    </select>
  </div>
  <div class="col-sm-2">
    <span class="material-icons" (click)="openModal(template)">add_circle</span>
  </div>
</div>

<h1>{{empName}} Tasks</h1>

<div class="row">
  <div class="col-sm-12">
    <p class=text-center>
        <label (click)="changeWeek(-1)">&lt;</label>
        Week {{displayWeek}}
        <label (click)="changeWeek(+1)">&gt;</label>
        
        
    </p>
  </div>
</div>



<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <!-- header of days-->
      <tr>
        <th></th>
        <th *ngFor="let day of daysOfWeek">
          {{day.day}} <!-- -- {{day.date}} -->
        </th>
      </tr>
      <tr *ngFor="let task of tasks">
        <td>{{task.Name}}  <!-- -- {{task.Id}} --></td>
    
        <td *ngFor="let effort of empEfforts.get(task.Id)">
          <!-- empEfforts.get(task.id) -->
          {{effort.Hours}}  <!-- - {{task.Id}} -- {{effort.taskId}} -- {{effort.Date}} -->
        </td>
      </tr>
    
      <!-- total row -->
      <tr>
        <td>Total</td>
    
        <td *ngFor="let hrs of workHoursByDay">
          {{hrs}}
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-sm-8">

  </div>
  <div class="col-sm-2">
    <a href="javascript:void(0);" class="btn btn-secondary" (click)="goBack(modaltemplate)">Back to List</a>
  </div>
  <div class="col-sm-2">
    <a href="javascript:void(0);" class="btn btn-primary" (click)="postEfforts(modaltemplate)" 
    [ngClass]="{'disabled': (!anyHoursLogged)}">Save</a>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" #f="ngForm" class="form-inline">

      <!-- Task -->
      <div class="form-group">
        <label for="task" class="form-label">Task</label>

        <select class="form-control full" [(ngModel)]="loggedTaskId" name="task">
          <option *ngFor="let task of tasks" value="{{task.Id}}">
            {{task.Name}}
          </option>
        </select>
      </div>

      <!-- day -->
      <div class="form-group">
        <label for="day" class="form-label">Day</label>

        <select class="form-control full" [(ngModel)]="dayOfWork" name="day">
          <option *ngFor="let day of daysOfWeek" value="{{day.date}}">
            {{day.day}}
          </option>
        </select>
      </div>


      <!-- hours -->
      <div class="form-group">
        <label for="hours" class="form-label">Hours</label>

        <input type="number" name="hours" min="1" max="24" step="1" pattern="^[0-9]" required
          (keydown)="keyEntry($event)" class="form-control full" [(ngModel)]="loggedHours" #hours="ngModel" />
      </div>

    </form>


  </div>
  <div class="modal-footer">
    <button type="button" href="javascript:void(0);" class="btn btn-primary"
      (click)="addHours(modaltemplate)">Add</button>
    <button type="button" href="javascript:void(0);" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
  </div>

</ng-template>

<ng-template #modaltemplate>
  <div class="angularModal">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{modalTitle}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{modalMessage}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()"
        *ngIf="(buttonOneText.length > 0)">{{buttonOneText}}</button>
    </div>
  </div>
</ng-template>