<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <ng-container *ngFor="let emp of employees">
        <tr [routerLink]="['Tasks', emp.Id]" class="pointer">
            <td>{{emp.Id}}</td>
            <td>{{emp.Code}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.Hours}}</td>
            <td>{{emp.AvgHours}}</td>
        </tr>
    </ng-container>
</table>